// light green : hsl(157, 74%, 62%);
// dark gray 1: hsl(225, 26%, 23%);
// almost black : hsl(224, 35%, 11%);
//true white: hsl(0, 0%, 100%);
//gray 2 : hsl(225, 21%, 45%);
//light gray 3 : hsl(225, 40%, 83%);

$title_line1-txt-color: hsl(157, 74%, 62%);
$title_line2-txt-color: hsl(0, 0%, 100%);
$main_description-txt-color: hsl(0, 0%, 100%);
$email_input-bgc-color: hsl(225, 26%, 23%);
$email_input-text-color: hsl(225, 40%, 83%);
$email_textarea-text-color: hsl(0, 0%, 100%);
$email_request-text-color: hsl(0, 96%, 61%);
$submit_btn-bgc-color: hsl(157, 74%, 62%);
$submit_btn-txt-color: hsl(224, 35%, 11%);
$tablet-bgc-color: hsl(224, 35%, 11%);